<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <link rel="stylesheet" href="../style.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital@1&family=Space+Mono&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Three-Js-Playground</title>
</head>

<body>
  <script type="module" src="./globe.js"></script>
  <div class="absolute text-white text-center" style="top:10%; transform:translate(-50%, -50%); left: 20%; ">
    <h1 class="font-mono text-sm uppercase tracking-wide">by Leni Yang</h1>
    <p class="font-exo text-4xl uppercase tracking-wide font-bold">The model of globe.</p>
    <a href="/index.html" class="border px-4 py-2 rounded-lg text-sm font-mono uppercase mt-8 hover:bg-white hover:text-gray-800 inline-block">Gallery</a>
  </div>
</body>

</html>